# Sensibles
config.mail.php
.env
*.env

# build de imágenes, no subir
assets_web/
*.zip
*.pdf
*.xls
*.xlsx

# =========================
# Backups / comprimidos
# =========================
*.zip
*.rar
*.7z

# =========================
# Imágenes pesadas / crudas (NO necesarias)
# =========================
*.psd
*.tiff
*.raw
*.heic

assets/img/

assets/pdf/

.git